.container {
  margin-left: -50px;
  margin-top: 20px;
}

.button-container {
  display: flex;
  justify-content: center;
}

.custom-select {
  background: url('data:image/svg+xml;utf8,<svg fill="%23333" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>') no-repeat right 10px center;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #fff;
  background-size: 12px;
}
