.column-zero {
  display: flex;
  align-items: center;
  justify-content: center;
}

.column-one {
  display: flex;
  margin-left: -44px;
  float: left;
  padding: 10px;
  justify-content: center;
  border: 1px solid red;
  height: 88.5vh;
}

.column-two {
  float: left;
  border: 1px solid red;
}

.container {
  display: flex;
  background-color: #efefef;
  flex-direction: column; /* Cambiado de row a column para asegurar que el contenido se vea bien en diferentes tamaños de pantalla */
  align-items: center; /* Alinea el contenido al centro horizontalmente */
  min-height: 80vh; /* Altura mínima del 80% del viewport */
  max-width: 600px; /* Ancho máximo para pantallas grandes */
  padding: 20px; /* Añade un poco de padding para mejorar la apariencia */
  border: 1px solid red;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Añade sombra para mejor apariencia */
  margin: auto; /* Centra el contenedor verticalmente */
}


.form-group {
  width: 40vh;
  margin-top: 10px;
}

.strong-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.center-button {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.label-margin{
  margin-left:5px
}
