<div class="grid">
  <div class="col-12">
    <div class="card">
      <h2>New Contractor</h2>
      <form [formGroup]="contractorForm" (ngSubmit)="createContractor()">
        <div class="p-fluid grid formgrid">
          <div class="field col-12">
            <label for="name">Contractor Name</label>
            <input id="name" type="text" pInputText formControlName="name">
          </div>
          <div class="field col-12">
            <label for="phoneNumber">Phone Number</label>
            <input id="phoneNumber" type="text" pInputText formControlName="phoneNumber">
          </div>
          <div class="field col-12">
            <label for="company">Company Name</label>
            <input id="company" type="text" pInputText formControlName="company">
          </div>
          <div class="field col-12">
            <label for="status">Status</label>
            <p-dropdown id="status" [options]="status" optionLabel="label" optionValue="label"
                        formControlName="status"></p-dropdown>
          </div>
        <div class="field col-12">
          <p-button label="Create Contractor" icon="pi pi-save" type="submit"></p-button>
        </div>
        </div>
      </form>
    </div>
  </div>
</div>


