.container {
  display: flex;
  flex-direction: column; /* Asegura que los elementos hijos se dispongan en columna */
  width: 50vh;
  padding: 20px; /* Añade padding para espacio interno */
  box-sizing: border-box; /* Asegura que el padding no afecte el tamaño total del contenedor */
  margin: 0 auto; /* Centra el contenedor */
  margin-top: 35px;
}

.form-container {
  width: 100%; /* Asegura que el formulario ocupe todo el ancho del contenedor */
  margin-left: -135px
}

.form-group .form-control {
  width: 100%; /* Asegura que los campos del formulario ocupen todo el ancho del contenedor */
}

.button-container {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.button-container .btn {
}

.little-header {
  margin-top: 35px;
  display: flex;
  justify-content: center;
}


.custom-select {
  background: url('data:image/svg+xml;utf8,<svg fill="%23333" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>') no-repeat right 10px center;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #fff;
  background-size: 12px;
}
