<div class="row">
  <div class="container">
    <div class="col-12 ">
      <div class="inventory-list mt-1">
        <table class="table table-hover">
          <thead class="bg-secondary">
          <tr class="table-active">
            <th scope="col">Id</th>
            <th scope="col">Item Name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Unit Price</th>
            <th scope="col">Total Price</th>
            <th scope="col"></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of allInventory"
              (click)="isItemSelected(item)"
              (dblclick)="disableInventorySelected()">
            <th scope="row">{{ item.id }}</th>
            <td>{{ item.itemName }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.unitPrice | currency:'€' }}</td>
            <td>{{ item.totalValue | currency:'€' }}</td>
            <td><i (click)="loadInventoryEdit(item.id)" class="bi bi-pencil-square text-info"></i>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
