.container {
  margin-top: 34px;
  margin-left: 2.5rem;
  height: 50vh;
  background-color: #efefef;
  border-radius: 10px;
  width: 42.7vw;
}

.header {
  display: flex;
  margin-top: 30px; /* Aumenta el margen superior aquí */
  width: 10vw;
  height: 25vh;
  flex-direction: column;
  align-items: center; /* Alinea el contenido al centro */
  margin-left: -20px
}

.button-container {
  display: flex;
  gap: 10px;
  margin-top: 20px; /* Aumenta el margen superior aquí para separar del encabezado */
}

.actions-header {
  margin-top: 10px; /* Ajusta el margen superior aquí */

}

.btn-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.card {
  width: 130px;
}

.button-container {
  display: flex;
  justify-content: center;
}

