<div class="actions-container">
  <div class="buttons-card-container">
    <div class="buttons-container">
      <strong class="mt-2">Actions:</strong>

      <button class="btn btn-info" (click)="createContract()">
        <i class="bi bi-plus-lg"></i>
      </button>

      <button class="btn btn-info" [disabled]="!contractSelected" (click)="editContract()">
        <i class="bi bi-pencil"></i>
      </button>

      <button class="btn btn-info" [disabled]="!contractSelected" (click)="deleteContract()">
        <i class="bi bi-trash"></i>
      </button>

    </div>
    <div class="card"></div>
  </div>

  <div class="contratos-list">
    <table class="table   table-hover">
      <thead class="bg-secondary">
      <tr class="table-active">
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Start Date</th>
        <th scope="col">Authority</th>
        <th scope="col">Contractor</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let contrato of contratos"
          (click)="isContractSelected(contrato)"
          (dblclick)="disableContractSelected()">

        <th scope="row">{{ contrato.id }}</th>
        <td class="">{{ contrato.name }}</td>
        <td>{{ contrato.startDate | date }}</td>
        <td>{{ contrato.authority.name }}</td>
        <td>{{ contrato.contractor.name }}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="contratos-detail">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
