@import "primeicons/primeicons.css";
@import "primeng/resources/primeng.css";


.p-menubar {
  margin-top: -10px;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  border-radius: 0;
  color: black
}

.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-content .p-menuitem-link .p-menuitem-icon {
  color: black
}
.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-content .p-menuitem-link .p-menuitem-text {
color: black
}

.p-datatable {
  width: 50vw;
  margin: 0 auto;
}

.p-button.p-button-help, .p-button-group.p-button-help > .p-button, .p-splitbutton.p-button-help > .p-button {
  background-color: white;
  color: black;
  border: none;
}

.p-button.p-button-help {
  background: #efefef;
}

.p-tree {
  width: 33vh;
  height: 100vh; /* Ajusta el tamaño del sidebar para que esté entre el header y el footer */
  position: fixed;
  top: 60px; /* Espacio para el header */
  bottom: 2rem; /* Espacio para el footer */
  left: 0;
  margin-left: -10px;
  margin-top: -20px;
  border-radius: 0;
  background-color: #efefef; /* Fondo del sidebar */
  overflow-y: auto;
  z-index: 900;
  color: black
}

.p-tree .p-tree-container .p-treenode .p-treenode-content .p-treenode-icon {
  color: black
}

.p-datatable .p-datatable-thead > tr > th {
  background-color: #efefef;
  color: black;
  font-weight: bold;
  border: none;
}

.p-datatable .p-datatable-tbody > tr > td {
  background-color: #efefef;
}

