<div class="sidebar">

  <nav class="nav flex-column">
    <hr class="margins">
    <a class="nav-link" href="#">TODO</a>
    <hr>
    <a class="nav-link" href="#submenu1" data-bs-toggle="collapse">TODO</a>
    <hr>
    <div id="submenu1" class="collapse submenu">
      <a class="nav-link" href="#">TODO</a>
      <hr>
    </div>
    <div id="submenu3" class="collapse submenu">
      <a class="nav-link" href="#">TODO</a>
      <hr>
    </div>
    <a class="nav-link" href="#" data-bs-toggle="collapse">TODO</a>
    <hr>
    <a class="nav-link" href="#">TODO</a>
    <hr>
  </nav>
</div>
