.container {
  margin-top: 4rem;
  border: 1px solid red;
  height: 74vh;
  background: white;
  max-width: 80vh; /* Ensures container does not overflow the viewport width */
  box-sizing: border-box; /* Includes padding and border in the element's total width and height */
}
.add-contract {
  width: 100%;
}

.card {
  width: 79.5vh;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Añadir una sombra si lo deseas */
  margin-left: -10.5px;
  border: none
}
.card-body {
  height: 67.5vh;
}
.button-container {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
