<div class="container mt-5">
  <div class="header">
    <app-header></app-header>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h4 class="text-center margin">Please complete the form to get in touch with us.</h4>
        </div>
        <div class="card-body">
          <form [formGroup]="contactUsForm" (ngSubmit)="sendMessage()">
            <div class="form-group">
              <label for="name"><i class="pi pi-user"></i> <strong>Name</strong></label>
              <input type="text" id="name" formControlName="name" class="form-control" placeholder="Enter your name">
              <div *ngIf="contactUsForm.get('name')?.invalid && contactUsForm.get('name')?.touched" class="text-danger">
                Name is required.
              </div>
            </div>
            <div class="form-group">
              <label for="email"><i class="pi pi-envelope"></i> <strong>Email</strong></label>
              <input type="email" id="email" formControlName="email" class="form-control"
                     placeholder="Enter your email">
              <div *ngIf="contactUsForm.get('email')?.invalid && contactUsForm.get('email')?.touched"
                   class="text-danger">
                Email is required.
              </div>
            </div>
            <div class="form-group">
              <label for="message"><i class="pi pi-comment"></i> <strong>Message</strong></label>
              <textarea id="message" formControlName="message" class="form-control" rows="4"
                        placeholder="Enter your message"></textarea>
              <div *ngIf="contactUsForm.get('message')?.invalid && contactUsForm.get('message')?.touched"
                   class="text-danger">
                Message is required.
              </div>
            </div>
            <div class="button-container">
              <button type="submit" class="btn btn-info btn-block" [disabled]="contactUsForm.invalid">Send Message
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <app-footer></app-footer>
  </div>
</div>
