.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #efefef;
  color: black;
  text-align: center;
  padding: 1rem 0;
  height: 3rem;
  z-index: 1000;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #efefef;
}
