

.list-group {
  width: 30vh;
  height: 500px; /* Ajustar la altura según sea necesario */
}

.list-group-container {
  position: fixed;
  top: 55px;
  right: 0; /* Cambiado de left a right */
  z-index: 1000;
  background-color: #efefef;
  border-left: 1px solid #ccc; /* Cambiado de border-right a border-left */
  padding: 0;
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100vh;
}
