.navbar {
  position: fixed; /* Fija el header en su posición */
  top: 0; /* Asegura que esté pegado a la parte superior */
  left: 0; /* Asegura que comience desde el borde izquierdo */
  width: 100%; /* Ocupa el 100% del ancho de la ventana */
  z-index: 1000; /* Asegura que esté por encima de otros elementos */
}
.a-margin {
  margin-left: 10px;
}
.a-margin:hover {
  background-color: lightblue; /* Cambia el color de fondo al pasar el cursor */
  border-radius: 10px; /* Añade un radio de borde */

}
.user-email {
  margin-top: 10px;
  margin-right: 10px;
}
.btn-logout {
  margin-right: 20px; /* Ajusta el valor del margen según sea necesario */
}
.text-info {
  font-size: 24px;
}
