<div class="container">
  <div class="square">
    <h1 class="inversed-margin mb-1"><strong>Welcome</strong></h1>
    <form [formGroup]="loginForm">
      <div class="form-group ">
        <input type="email" class="form-control form-control-lg mb-3" formControlName="email"
               placeholder="Email">
        <div *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid" class="text-danger adjust-conditional">
          Please enter a valid email.
        </div>
      </div>
      <div class="form-group">
        <input type="password" class="form-control form-control-lg" formControlName="password"
               placeholder="Password">
        <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid" class="text-danger">
          Minimum length is 4 characters.
        </div>
      </div>
      <div class="no-account text-center mt-2">
        <a href="#" routerLink="/register">Don't have an account?</a>
      </div>

      <div class="text-center mt-3">
        <button (click)="logIn()" [disabled]="loginForm.invalid" class="btn btn-primary btn-lg text-center">Login</button>
      </div>
    </form>
  </div>
</div>
