body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Previene el desbordamiento horizontal */
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  z-index: 2; /* Asegura que el header esté encima del sidebar */
  position: fixed; /* Fija el header */
  width: 100%;
  top: 0;
}

.home-body {
  flex: 1; /* Hace que el contenido ocupe el espacio restante */
  display: flex;
  flex-direction: row;
}

.header-delimiter {
  margin-top: 0;
  margin-bottom: 0;
  border: 1px solid black;
}

.content {
  margin: 0 auto; /* Centrando el contenido */
  padding: 20px;
  padding-top: 97px; /* Ajustar para evitar que el contenido se oculte bajo el header fijo */
  padding-bottom: 0; /* Ajustar este valor según sea necesario */
  overflow-x: auto; /* Permitir scroll horizontal si el contenido es muy ancho */
  flex: 1; /* Hace que el contenido ocupe el espacio restante */
  display: flex;
  justify-content: center;
}

.table {
  color: white;
  width: 100%; /* Asegurar que la tabla ocupe todo el ancho disponible */
  table-layout: fixed; /* Evitar que las columnas se expandan más de lo necesario */
  margin-bottom: 0; /* Asegúrate de que no haya margen inferior en la tabla */
}

.table-section,
.new-section {
  padding: 10px;
  box-sizing: border-box;
}

.table-section {
  border-right: 1px solid #ddd; /* Línea divisoria entre las secciones */
}

.new-section {
  /* Puedes agregar más estilos para la nueva sección aquí */
}

.footer {
  width: 100%;
  background-color: #7066e0;
  color: white;
  text-align: center;
  padding: 0 0;
  position: relative; /* Hacer que el footer sea relativo al flujo del documento */
}

@media (max-width: 12000px) {
  .sidebar {
    width: 200px;
  }
  .footer {
    left: 200px;
    width: calc(100% - 200px);
  }
}
