<div class="main-container">
  <div class="header">
    <app-header></app-header>
  </div>

  <div class="home-body text-center m-4 mt-3">
    <app-sidebar></app-sidebar>
    <div class="content d-flex">
      <!-- Sección para la tabla -->
      <div class="table-section w-50">
        <div class="d-flex justify-content-between mb-2">
          <!-- Contenedor al principio -->
          <div class="start-container">
            <strong> <h3> Contracts</h3> </strong>
          </div>
          <!-- Botones alineados a la derecha -->
          <div>
            <button class="btn btn-primary me-2" (click)="addRow()"><i class="bi bi-plus"></i> Add</button>
            <button class="btn btn-warning me-2" (click)="editRow()"><i class="bi bi-pencil"></i> Edit</button>
            <button class="btn btn-danger" (click)="deleteRow()"> <i class="bi bi-trash"></i> Delete</button>
          </div>
        </div>

        <table class="table">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
          </tr>
          </tbody>
        </table>
      </div>

      <!-- Nueva sección -->
      <div class="new-section w-25">
        <!-- Aquí puedes agregar el contenido que desees para la nueva sección -->
        <h2>Nueva Sección</h2>
        <p>Contenido de la nueva sección...</p>
      </div>
    </div>
  </div>

  <div class="footer">
    <app-footer></app-footer>
  </div>
</div>
