<div class="container">
  <div class="grid">
    <div class="col-12">
      <div class="card">
        <h2>Contract Details</h2>
        <form [formGroup]="editContractForm" (ngSubmit)="updateContract()">
          <div class="p-fluid grid formgrid">
            <div class="field col-12">
              <label for="name">Name</label>
              <input id="name" type="text" pInputText formControlName="name">
            </div>
            <div class="field col-12">
              <label for="endDate1">End Date</label>
              <p-calendar id="endDate1" formControlName="endDate" dateFormat="yy-mm-dd" showIcon></p-calendar>
            </div>
            <div class="field col-12">
              <label for="authorityId1">Authority In Charge</label>
              <p-dropdown id="authorityId1" [options]="authorities" optionLabel="name" optionValue="id"
                          formControlName="authorityId"></p-dropdown>
            </div>
            <div class="field col-12">
              <label for="contractorId1">Contractor Name</label>
              <p-dropdown id="contractorId1" [options]="contractors" optionLabel="name" optionValue="id"
                          formControlName="contractorId"></p-dropdown>
            </div>
            <div class="col-12">
              <p-button label="Update Contract" icon="pi pi-save" type="submit"></p-button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
